.quantity {
  margin-bottom: 1rem !important;
  display: flex;
  align-items: center;
  background: var(--bs-img-bg-color);
  border-radius: var(--bs-border-radius) !important;
  overflow: hidden;
  border: 7px solid #333;
}
.quantity .input-text.qty,
.quantity .qty-count {
  display: inline-block;
  min-width: 0;
  height: 3.5rem;
  line-height: 1;
  border: none;
}
.quantity .input-text.qty:focus,
.quantity .qty-count:focus {
  outline: none;
}
.quantity .input-text.qty {
  display: display;
  width: 7rem;
  min-width: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #b19068;
  appearance: textfield;
}
.quantity .input-text.qty::-webkit-outer-spin-button, .quantity .input-text.qty::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.quantity .qty-count {
  padding: 0;
  cursor: pointer;
  width: 3.5rem;
  font-size: 1.25em;
  text-indent: -100px;
  overflow: hidden;
  position: relative;
  background-color: #333;
  transition: all ease-in-out 0.25s;
}
.quantity .qty-count:hover, .quantity .qty-count:active {
  background-color: #b19068;
}
.quantity .qty-count:hover:before, .quantity .qty-count:hover:after, .quantity .qty-count:active:before, .quantity .qty-count:active:after {
  background-color: var(--bs-gray-200);
}
.quantity .qty-count:before, .quantity .qty-count:after {
  content: "";
  height: 2px;
  width: 10px;
  position: absolute;
  display: block;
  background-color: var(--bs-gray-400);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.quantity .qty-count--minus {
  border-right: 1px solid var(--bs-body-bg-color);
}
.quantity .qty-count--add {
  border-left: 1px solid var(--bs-body-bg-color);
}
.quantity .qty-count--add:after {
  transform: rotate(90deg);
}
.quantity .qty-count:disabled {
  background-color: var(--bs-gray-500);
  cursor: not-allowed;
  border-color: transparent;
}
.quantity .qty-count:disabled:before, .quantity .qty-count:disabled:after {
  background-color: var(--bs-gray-200);
}

.yith-wcwl-add-to-wishlist-button:not(.yith-wcwl-add-to-wishlist-button--themed-button).yith-wcwl-add-to-wishlist-button--added svg.yith-wcwl-add-to-wishlist-button-icon {
  color: rgba(var(--bs-danger-rgb), 0.8);
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt {
  background-color: #333;
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt:active,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:active,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt:active,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt:active,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt:active,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt:active,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt:active,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt:active {
  background-color: #b19068;
}

/**
 * WooCommerce specific styles for legacy themes.
 */
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price {
  color: #b19068;
  font-size: 1.75em;
  -webkit-font-smoothing: antialiased;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .stock {
  color: #b19068;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) ul.products li.product .price {
  color: #b19068;
}

.post-type-archive-product span.product-badge-wrapper, .related span.product-badge-wrapper {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  z-index: 1;
}

.single-product span.product-badge-wrapper {
  display: block;
  min-height: 24px;
  margin-bottom: 0.5rem;
  text-align: right;
}
@media (max-width: 767px) {
  .single-product span.product-badge-wrapper {
    margin-bottom: 3rem;
    text-align: center;
  }
}

span.product-badge-wrapper .product-badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0 0.25rem;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--bs-gray-200);
  border-radius: var(--bs-border-radius);
  -webkit-font-smoothing: antialiased;
}
span.product-badge-wrapper .onsale {
  background-color: var(--bs-red);
}
span.product-badge-wrapper .new {
  background-color: var(--bs-green);
}
span.product-badge-wrapper .low-stock {
  background-color: var(--bs-yellow);
  color: var(--bs-body-bg-color);
}

.woocommerce-page.single-product div.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.woocommerce-page.single-product div.product div.images {
  float: none;
}
.woocommerce-page.single-product div.product div.summary {
  float: none;
}
.woocommerce-page.single-product div.product section.related {
  padding: 4rem 0;
}
.woocommerce-page.single-product div.product section.related ul.products:before {
  display: none;
}/*# sourceMappingURL=woocommerce-overrides.css.map */